@tailwind base;
@tailwind components;
@tailwind utilities;

.valen{
  font-family:  cursive !important;
}

.card {
  /* perspective: 1000px; */
  width: 900px;
  height: 700px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
 }
 
 .card.flip {
  transform: rotateY(180deg);
 }
 
 .card .front, .card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
 }
 
 .card .front {
  background-color: #df405d;
  color: white;
 }
 
 .card .back {
  color: white;
  transform: rotateY(180deg);
 }

